<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <ng-container *ngFor="let tbl_th_title of table_th">
        <th>{{ tbl_th_title }}</th>
      </ng-container>
    </tr>
  </thead>
  
  <tbody>

    <ng-container *ngFor="let user of userList">
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name | titlecase }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ user.height }}</td>
        <td>
            <a class="btn btn-primary" [routerLink]="['/edituser/'+ user.id]">Edit</a> &nbsp;
            <button class="btn btn-danger" (click)="deleteThisUser(user.id)">Delete</button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="userList.length == 0">
      <tr>
        <td colspan="6" class="text-center p-4">No user availabe!</td>
      </tr>
    </ng-container>

  </tbody>
</table>

<p class="p-0"><b>Total Users:</b> {{userList.length}}</p>

