<div class="container">
    
    <h2 class="text-center mt-5">Book Lists</h2>
    <div class="row mb-2 mt-5 mb-3">
        
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="searchText" (input)="searchUserByKeyword()" class="form-control" placeholder="Search...">
        </div>

        <div class="col-sm-8">
            <div class="text-end">
                <a [routerLink]="['/addbook']" class="btn btn-primary">+ Add New Book</a>
            </div>
        </div>
    
    </div>
    
    <main class="my-3 p-3 bg-body rounded shadow-sm">
        <app-table (userDeleteEmittor)="userDeleteEmittor($event)" [userList]="userList"></app-table>
    </main>

</div>