<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="text-center">Add Book</h1>
            <form [formGroup]="form" (ngSubmit)="addThisUser()" class="mt-5">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Book Name</label>
                        <input type="text" class="form-control" required formControlName="booktitle" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="text" class="col-form-label">Book Author</label>
                        <input type="text" class="form-control" required formControlName="bookauthor" placeholder="Author">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="col-form-label">Publish Date</label>
                        <input type="date" class="form-control" required formControlName="publishdate" placeholder="Publish Date">
                    </div>
                </div>
                <div class="modal-footer mt-4">
                    <a [routerLink]="['/books']" class="btn btn-secondary me-1">Cancel</a> 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
